# copy und paste mich für sinnvolle globale Einstellungen in ~/.gitconfig i
# bzw. für spezielle Einstellungen im Dateipfad des git repositorys: 
# $ touch .git/.gitconfig
# $ open .git/gitconfig

[user]
	name = Willi
    email = meine@email.xyz

[color]
    ui = auto
  [color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
  [color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
  [color "status"]
    added = green
    changed = yellow
    untracked = cyan

[core]
    editor = vim #mvim #mate -w     # Einstellung für Editor
    excludesfile = ~/.gitignore

[alias]    #gegen Tippfehler im Terminal
	cm = commit
	co = checkout
    st = status
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lon = log --oneline --graph
[merge]
	tool = FileMerge    #mergetool, für Linux empfohlen: Meld
